body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	width:100%;
	padding-top:15px;
}
.spacer {
	width:100%;
	height:15px;
}
hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size:28px;
	color:#333333;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
} 
h1.title {
  font-size:24px;
  text-align: center; 
}
h2 {
	font-size:15px;
	color:gray;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}
h2.title {
  font-size: 16px;
  text-align: center;
}
h3 {
	color:#333333;
	font-size:15px;
	text-align:left;
	font-weight:300;
	padding:5px;
	margin-top:5px;
}
h3.title { 
  text-align: center;
}
#left {
	float:left;
	width:130px;
	background-color:#FFFFFF;
	color:black;
}

#main {
	margin	: 5px 5px 5px 140px;
	padding	: 15px;
	border-left	: 1px solid silver;
}
p {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
p.subtitle {
  text-align: center;
}
ul, ol {
	color:black;
	background-color:#FFFFFF;
	line-height: 18px;
	padding:15px;  
}
a {
	color:#333333;
	background-color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#333333;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	clear:both;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.right {
	color:gray;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:gray;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}
div.tune_image {
    
}
.tune_embed {
    height:25px;  
    align:top;
    border:0; 
    margin-left:15px;  
}

audio {
	filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
	width: 250px;
	height: 20px;
	border:0;
	margin-left:15px;
}
