<p>
  For all 7-shape versions of tunes: Copyright 2022, James Nelson
  Gingerich. Permission granted to make single copies for non-commercial
  use. All other rights reserved.
</p>

<p>
  For all 4-shape versions of tunes: Copyright 2022, James Nelson
  Gingerich. Permission granted to make copies for non-commercial use.
  All other rights reserved.
</p>

<p>
  For all Midi versions of tunes: Copyright 2022, James Nelson
  Gingerich. Permission granted to make copies for non-commercial use.
  All other rights reserved.
</p>

<p>
  Funk's Rudiments: Copyright 2022, James Nelson Gingerich. Permission
  granted to make copies for non-commercial use. All other rights
  reserved.
</p>

<p>Website design, Copyright 2008-2022, Will Fitzgerald.</p>

<p>
  To contact James Nelson Gingerich, send email to jngingerich -at-
  gmail -dot- com. To contact Will Fitzgerald, send email to
  will.fitzgerald@ -at- gmail -dot- com
</p>
