<div id="footer">
  <hr />

  <p class="left"></p>

  <p class="right">Website &copy; Will Fitzgerald. Music &copy; James Nelson Gingerich (<a href="copyright.html">details</a>)</p>

  <p>&nbsp;</p>
</div><!-- end footer -->