<div id="left">
  <a href='index.html'>
    <h3>Home</h3>
  </a>

  <h3>Tune Indices</h3>
  <p>by
    <a href="page_index.html">Page number</a><br/>
    by
    <a href="title_index.html">Tune name</a><br/>
    by
    <a href="alt_title_index.html">Alternate name</a><br/>
    by
    <a href="author_index.html">Author</a><br/>
    by
    <a href="composer_index.html">Composer</a><br/>
    by
    <a href="first_line_index.html">First line</a><br/>
    by
    <a href="meter_index.html">Meter</a><br/>
    by
    <a href="incipit_index.html">Incipit</a><br/></p>
  <h3>Rudiments</h3>

  <p>
    <a href="rudiments.pdf">Funk's Rudiments</a><br/>(52 page pdf)</p>
  <h3>Singings</h3>

  <p>
    <a href="https://www.harmoniasacrasociety.org/annual-harmonia-sacra-sings/">Locations</a><br/>
    <a href="minutes.html">Minutes</a>
  </p>

  <h3>Other</h3>

  <p>
    <a href="https://www.harmoniasacrasociety.org/">Harmonia Sacra Society</a><br/>
  </p>
</div>
<!-- end left division -->
