<h2>Minutes of Harmonia Sacra Singings</h2>
<ul>
<li><a href="minutes/2009-elkhart.html">January 1, 2009</a> (<a href="minutes/2009-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2008-elkhart.html">January 1, 2008</a> (<a href="minutes/2008-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2007-elkhart.html">January 1, 2007</a> (<a href="minutes/2007-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2006-elkhart.html">January 1, 2006</a> (<a href="minutes/2006-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2005-elkhart.html">January 1, 2005</a> (<a href="minutes/2005-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2004-elkhart.html">January 1, 2004</a> (<a href="minutes/2004-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2003-elkhart.html">January 1, 2003</a> (<a href="minutes/2003-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2002-elkhart.html">January 1, 2002</a> (<a href="minutes/2002-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2001-elkhart.html">January 1, 2001</a> (<a href="minutes/2001-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/2000-elkhart.html">January 1, 2000</a> (<a href="minutes/2000-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/1999-elkhart.html">January 1, 1999</a> (<a href="minutes/1999-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
<li><a href="minutes/1998-elkhart.html">January 1, 1998</a> (<a href="minutes/1998-elkhart.html">AMBS, Elkhart, Indiana</a>)</li>
</ul>
<p>To submit minutes of other singings, please e-mail to Will Fitzgerald [Will -dot- Fitzgerald _at_ pobox -dot- com]</a></p>
