<h1 class='title'>THE HARMONIA SACRA,</h1>
<h3 class='title'>BEING A COMPILATION OF</h3>
<h1 class='title'>GENUINE CHURCH MUSIC,</h1>

<h2 class='title'>COMPRISING A GREAT VARIETY OF METRES,<br/>Harmonized for Three and Four Voices:<br/>TOGETHER WITH A COPIOUS EXPLICATION OFTHE PRINCIPLES OF VOCAL MUSIC.EXEMPLIFIED AND ILLUSTRATED WITH TABLES,IN A PLAIN AND COMPREHENSIVE MANNER.BY JOSEPH FUNK AND SONS.</h2>

<h3 class='title'>“And the ransomed of the Lord shall return and come to Zion with songs and everlasting joy upon their heads; they shall obtain joy and gladness, and sorrow and sighing shall flee away.”—ISAIAH</h3>

<h2 class='title'>TWENTY-SIXTH EDITION<h2>
    <h3 class='title'>Newly typeset, corrected and improved and provided online in both seven and four shape notation.<br/>Typeset by James Nelson Gingerich and published online by James Nelson Gingerich &amp; Will Fitzgerald</h3>
    <h3 class='title'>2008</h3>

    <h3>Welcome</h3>
    <p>The
      <i>Harmonia Sacra</i>
      is a shape-note tunebook in the Mennonite tradition. Originally published in 1832
            by Joseph Funk as
      <i>A Compilation of Genuine Church Music</i>, it has gone through twenty-six editions. This on-line version provides both seven-shape and four-shape ("Sacred Harp"-style) versions of tunes.</p>

    <h3>Ordering</h3>
    <p><b>We now have copies of the 26th edition of <i>Harmonia Sacra</i> available again!</b>
    For ordering information, please contact Will Fitzgerald: will.fitzgerald -at-
  gmail -dot- com.
    </p>
